<a href="https://colab.research.google.com/github/a-ydobon/python/blob/master/ipynb/Data_%EA%B8%B0%EB%B3%B8%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Different types in data
print(type(1) 
,type(2.3)
,type(True)
,type(False)
     ,type("Hello world!"))

<class 'int'> <class 'float'> <class 'bool'> <class 'bool'> <class 'str'>

In [3]:
if 0 == False:
  print("Boolean False can be replaced with integer zero.")

Boolean False can be replaced with integer zero.

In [4]:
if 0 != True:
  print("Boolean True can be replaced with any integer other than zero.")

Boolean True can be replaced with any integer other than zero.

In [6]:
if "Hello" == 'Hello':
  print("Double quotes sign, and single quote sign both can be used to define String values.")

Double quotes sign, and single quote sign both can be used to define String values.

In [7]:
"Hello"[1]

'e'

In [8]:
if 'Hello'[-1] == 'o':
  print("We will learn soon, but data type String is also can be categorized into data type List.")

We will learn soon, but data type String is also can be categorized into data type List.

Data는