<a href="https://colab.research.google.com/github/a-ydobon/python/blob/master/ipynb/Data_%EA%B8%B0%EB%B3%B8%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab의 셀을 실행시키는 방법은 shift + enter 입니다.
# 처음 실행할 때 약간의 시간이 걸립니다.

In [0]:
# 셀 왼쪽의 플레이 버튼을 눌러도 됩니다.

# 파이썬의 기본형 데이터는 숫자형과 문자형으로 나눌 수 있습니다.

## 숫자형은 말 그대로 숫자입니다.

In [6]:
99         # 99도 숫자이고.

99

In [7]:
3.1415     # 3.1415도 숫자입니다.

3.1415

## 그런데, 컴퓨터는 숫자를 두가지로 구분합니다. 


*   int: 소수점이 없는 숫자
*   float: 소수점이 없는 숫자

In [11]:
2 + 3        # 더하기

5

In [12]:
3 - 2        # 빼기

1

In [13]:
2 * 3        # 곱하기. 곱합기 기호는 8번 위에 있는 * 입니다.

6

In [14]:
3 / 2        # 나누기. 나누기 기호는 / 입니다.

1.5

## 위의 네 개의 셀의 아웃풋 중 하나가 다른 세개와 다른 데이터 타입을 가지고 있습니다.

In [15]:
2.0 + 3        # 더하기

5.0

In [16]:
3.0 - 2        # 빼기

1.0

In [17]:
2.0 * 3.0        # 곱하기

6.0

In [18]:
4 / 2            # 나누기

2.0

## 어떤 규칙이 숨어있을까요?

In [0]:
if "Hello" == 'Hello':
  print("Double quotes sign, and single quote sign both can be used to define String values.")

Double quotes sign, and single quote sign both can be used to define String values.

In [0]:
"Hello"[1]

'e'

In [0]:
if 'Hello'[-1] == 'o':
  print("We will learn soon, but data type String is also can be categorized into data type List.")

We will learn soon, but data type String is also can be categorized into data type List.

Data는