<a href="https://colab.research.google.com/github/a-ydobon/python/blob/master/ipynb/Data_%EB%B3%B5%ED%95%A9%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# In terms of 'Order' in data, and 'Mutability' of the data itself

print(
    type([1,2,3]),
     type((1,2,3)),
     type({1,2,3}),
     type({1:'r',2:'g',3:'b'})
         )

<class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

In [5]:
set([1,2,3])

{1, 2, 3}

In [6]:
if set([1,2,3]) == set([3,1,2]):
  print("집합(set) 데이터 타입의 경우, 집합을 이루는 원소 사이에는 순서를 매기지 않는다. 따라서 랜덤으로 배열되곤 한다.")

집합(set) 데이터 타입의 경우, 집합을 이루는 원소 사이에는 순서를 매기지 않는다. 따라서 랜덤으로 배열되곤 한다.

In [7]:
a = [3,4,5]
a[0] = 7
if a != [3,4,5]:
  print("바뀐 a: ", a)
  print("데이터 타입 리스트(list)를 이루는 데이터 구성 요소는 바꾸거나 뺴는 등의 변화를 주는 것이 가능하다.")

바뀐 a:  [7, 4, 5]
데이터 타입 리스트(list)를 이루는 데이터 구성 요소는 바꾸거나 뺴는 등의 변화를 주는 것이 가능하다.

In [9]:
b = (1,2,3)
if b[0] == 1:
  print('데이터 타입 튜플(tuple)은 리스트처럼 인덱스 번호를 통해 튜플 내 원소에 접근할 수 있습니다.')

데이터 타입 튜플(tuple)은 리스트처럼 인덱스 번호를 통해 튜플 내 원소에 접근할 수 있습니다.

In [10]:
if b[0] = 7:
  print("이건 안 될 겁니다. 튜플이니까요.")
else:
  print("튜플은 원소의 변화를 사후적으로 줄 수 없습니다. 이 점이 리스트와의 차이점입니다. 이 코드는 에러를 발생시킬겁니다.")

SyntaxError: ignored

In [11]:
if [1,2,3] != (1,2,3):
  print("그래서 데이터를 사후에 변경시켜서는 안 되는 경우 튜플을 자주 쓰지요. 리스트 데이터 타입은 유연하게 변화가 가능한 상황에서 쓰인다고 볼 수 있습니다.")

그래서 데이터를 사후에 변경시켜서는 안 되는 경우 튜플을 자주 쓰지요. 리스트 데이터 타입은 유연하게 변화가 가능한 상황에서 쓰인다고 볼 수 있습니다.

In [13]:
c = {1:'a',2:'b',3:'c'}
c[0] 
# 이 코드는 에러를 발생시킵니다.
# 딕셔너리 데이터는 "키:밸류" 속성을 가지는 원소로 구성돼 있습니다.

KeyError: ignored

In [15]:
if c[1] == 'a':
  print('딕셔너리에서 특정 밸류를 호출하고 싶다면, 그 밸류와 짝을 이루는 키를 불러줘야 합니다.')
  print("'a'라는 값을 불러내기 위해 우리는 딕셔너리 c 에서 키 1을 호출했습니다.")

딕셔너리에서 특정 밸류를 호출하고 싶다면, 그 밸류와 짝을 이루는 키를 불러줘야 합니다.
'a'라는 값을 불러내기 위해 우리는 딕셔너리 c 에서 키 1을 호출했습니다.

List

* 리스트 \[list]
* 튜플 (tuple, )
* 셋 {set}
* 딕셔너리 {dict: dictionary}