<a href="https://colab.research.google.com/github/a-ydobon/python/blob/master/ipynb/Data_%EA%B8%B0%EB%B3%B8%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 기본형 데이터는 숫자형과 문자형입니다.

## 숫자형은 말 그대로 숫자입니다. 다음의 셀은 실행시키는 방법은 shift + enter 또는 셀 왼쪽에 있는 play 버튼입니다.

In [2]:
99         # 99도 숫자이고.

99

In [3]:
3.1415     # 3.1415도 숫자입니다.

3.1415

## 그런데 두 가지의 숫자의 하나도 int형이고, 다른 하나는 float형입니다.
## 소수점이 있는 숫자

In [0]:
if 0 != True:
  print("Boolean True can be replaced with any integer other than zero.")

Boolean True can be replaced with any integer other than zero.

In [0]:
if "Hello" == 'Hello':
  print("Double quotes sign, and single quote sign both can be used to define String values.")

Double quotes sign, and single quote sign both can be used to define String values.

In [0]:
"Hello"[1]

'e'

In [0]:
if 'Hello'[-1] == 'o':
  print("We will learn soon, but data type String is also can be categorized into data type List.")

We will learn soon, but data type String is also can be categorized into data type List.

Data는