<a href="https://colab.research.google.com/github/a-ydobon/python/blob/master/ipynb/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
for i in [1, 1, 2, 3, 5, 8, 13]:
  print(i)

1
1
2
3
5
8
13

In [0]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
sum = 0

for i in range(10):
  sum += i
  print(sum)

0
1
3
6
10
15
21
28
36
45

In [0]:
sum = 0

for i in range(1,11):
  sum += i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [0]:
a_list = ['Hello', 'world', 'Hi', 'there', '!']

for i in a_list:
  print(i)

Hello
world
Hi
there
!

In [0]:
a_list = ['Hello', 'world', 'Hi', 'there', '!']

for i in a_list:
  print(i, len(i))

Hello 5
world 5
Hi 2
there 5
! 1

In [0]:
for i, j in enumerate(a_list):
  print(i, j)

0 Hello
1 world
2 Hi
3 there
4 !

In [0]:
b_dict = {1: 'rat', 'a':'tiger', 2:'cow'}

for i in b_dict:
  print(i)

1
a
2

In [0]:
for i in b_dict.items():
  print(i)

(1, 'rat')
('a', 'tiger')
(2, 'cow')

In [0]:
for i, j in b_dict.items():
  print(i, j)

1 rat
a tiger
2 cow

In [0]:
for i in range(5):
  for j in range(4):
    print(i, j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [0]:
for i in range(5):
  for j in range(4):
    print(i, j, end = ', ')
  print('')

0 0, 0 1, 0 2, 0 3,
1 0, 1 1, 1 2, 1 3,
2 0, 2 1, 2 2, 2 3,
3 0, 3 1, 3 2, 3 3,
4 0, 4 1, 4 2, 4 3,

In [0]:
for i in range(5):
  for j in range(i):
    print(i, j, end = ', ')
  print('')

1 0,
2 0, 2 1,
3 0, 3 1, 3 2,
4 0, 4 1, 4 2, 4 3,